@tailwind base;
@tailwind components;
@tailwind utilities;

.wave-animation span {
  color: var(--white);
  line-height: 1;
  display: inline-block;
  animation-name: wave;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
